

  <h3>Quiz</h3>
  <div class="ujquiz col-12 my-3 mb-3">
    <button class="btn btn-success btn-block mt-3 mb-3" style="font-size: 14px" [routerLink]="[0]">
      <i class="fa fa-plus">add</i> Új quiz
    </button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>description</th>
        <th>questions</th>
        <th>active</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quiz of quizList$ | async">
        <td>{{ quiz.id }}</td>
        <td>{{ quiz.title }}</td>
        <td>{{ quiz.description }}</td>
        <td>{{ quiz.questions }}</td>
        <td>{{ quiz.active }}</td>
        <td>
          <div class="btn-group">
          <button class="btn btn-info" routerLink="/quiz/ + quiz.id">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-info">
            <i class="fa fa-delete"></i>
          </button>
        </div>
      </td>
      </tr>
      <tr>

      </tr>
    </tbody>
  </table>



